header{
    display: flex;
    justify-content: space-around;
}
nav{
     display: flex;
     gap: 20px;
}
a{
    text-decoration: none;
    color: grey;
}
.color{
    color: rgb(33, 206, 197);
}
.s1{
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.s1_picture{
    width: 50px;
    height: 50px;
    
}


