header{
    display: flex;
    justify-content: space-around;
}
nav{
     display: flex;
     gap: 20px;
}
a{
    text-decoration: none;
    color: grey;
}
.color{
    color: rgb(33, 206, 197);
}
.s1{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: center;
    
}
.part{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.s1_picture{
    width: 50px;
    height: 50px;
     
}
.s2{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 25px;
    text-align: center;
    color: white;
       
}
.box1{
    padding: 20px;
    background-color: aqua;
    height: 300px;
    width: 260px;
    border-radius: 10px;

  
}
.box2{
    padding: 20px;
    background-color: blue;
    height: 300px;
    width: 260px;
    border-radius: 10px;
}
.box3{
    padding: 20px;
    background-color: black;
    height: 300px;
    width: 260px;
    border-radius: 10px;
}
.taille1{
    width: 150px;  
}
.taille2{
    width: 50px;
}
.taille3{
    width: 100px;
}
.s3{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    width: 80%;
    
    
}
ul{
   display: flex;
   flex-wrap: wrap;
   gap: 25px;
   width: 35%;
   
}
h5{
    font-size: 25px;
    width: 20%;
    
}


